# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Berkay\OneDrive\Masaüstü\globalaihub_machine_learning_course\introduction-to-machine-learning\Homeworks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
